body {
    background-color: #C2DEDC;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #EEEEEE;
    border-width: 5px;
    width: 3%;
}
h1 {
    color: #164B60;
}
h3 {
    color: #1B6B93;
}